[submodule "qmstr-demo"]
	path = qmstr-demo
	url = git@github.com:QMSTR/qmstr-demo.git
	branch = .
[submodule "qmstr"]
	path = qmstr
	url = git@github.com:QMSTR/qmstr.git
	branch = .
[submodule "qmstr-gradle-plugin"]
	path = qmstr-gradle-plugin
	url = git@github.com:QMSTR/qmstr-gradle-plugin
