[submodule "qmstr-container"]
	path = qmstr-container
	url = git@github.com:QMSTR/qmstr-container.git
	branch = .
[submodule "qmstr-demo"]
	path = qmstr-demo
	url = git@github.com:QMSTR/qmstr-demo.git
	branch = .
[submodule "qmstr"]
	path = qmstr
	url = git@github.com:QMSTR/qmstr.git
	branch = .
[submodule "qmstr-jenkins"]
	path = qmstr-jenkins
	url = git@github.com:QMSTR/qmstr-jenkins.git
	branch = .
